<div class="template-feedback container">
    <h2>Contact Us</h2>
    <!-- Submit feedback -->
    <label for="email">Your Email Address:</label>
    <input type="email" id="email" [(ngModel)]="emailAddress" name="inputEmailAddress" #inputEmailAddress="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" />

    <p *ngIf="inputEmailAddress?.errors?.required && formSubmitted" class="error-message">
        An email address is required.
    </p>
    <p *ngIf="inputEmailAddress?.errors?.pattern && formSubmitted" class="error-message">
        Your entered email address is invalid, please check the format!
    </p>
    <label for="feedback">Feedback:</label>
    <textarea id="feedback" [(ngModel)]="feedbackMsg" name="inputFeedbackMsg" #inputFeedbackMsg="ngModel" required></textarea>

    <p *ngIf="inputFeedbackMsg?.errors?.required && formSubmitted" class="error-message">
        Feedback text is required. Please enter your feedback comments.
    </p>

    <div class="row">
        <button class="button-primary" (click)="submitForm(inputEmailAddress.valid, inputFeedbackMsg.valid)">Submit Feedback</button>
    </div>
    <!-- Show result from Post -->
    <div *ngIf="feedbackResponseMsg" class="success-message">
        <p>{{feedbackResponseStatus}}</p>
        <p>{{feedbackResponseMsg}}</p>
    </div>
</div>